In [ ]:
""" We are using two sample z test because no. of sample is 37 which are greater than 30 that'swhy we use z-test and
Two sample z test becase there are two sample and we need to compare there diameter i.e Unit A and Unit B and this is continous data set.
Assumptions:
Ho (Null Hypothesis) : U1 = U2
H1 (Alternate Hypothesis) : U1 != U2
"""

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\k19ra\Downloads\Cutlets.csv")
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [3]:
df.shape

(35, 2)

In [5]:
df["Unit A"].skew()

-0.12368390249006213

In [6]:
df["Unit B"].skew()   #Nature of distribution is Moderate -ve skewed

-0.379945149223563

In [7]:
from scipy import stats as twosample

In [8]:
zcalc ,pval = twosample.ttest_ind( df["Unit A"] , df["Unit B"] )

In [9]:
print("Z calculated value:", zcalc.round(3))
print("P value:", pval.round(3))

Z calculated value: 0.723
P value: 0.472

In [10]:
if pval< 0.05:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

H1 is rejected and Ho is accepted

In [ ]:
#Conclusion: There is no significant difference in the diameter of the cutlet between two units.