In [ ]:
""" We are using Chi square test because we need to male-female buyer rations are similar across regions.
Assumptions:
Ho (Null Hypothesis) : There is no dependency between the gender based buyer ratios across regions
H1 (Alternate Hypothesis) : There is dependency between the gender based buyer ratios across regions
"""

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\k19ra\Downloads\BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
list(df)

['Observed Values', 'East', 'West', 'North', 'South']

In [6]:
df['Observed Values']
df['East']
df['West']
df['North']
df['South']

0     70
1    750
Name: South, dtype: int64

In [5]:
import researchpy as rp

In [9]:
table,results = rp.crosstab(df['Observed Values'],df['East'],test='chi-square')
results

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [10]:
table,results = rp.crosstab(df['Observed Values'],df['West'],test='chi-square')
results

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [13]:
table,results = rp.crosstab(df['Observed Values'],df['North'],test='chi-square')
results

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [14]:
table,results = rp.crosstab(df['Observed Values'],df['South'],test='chi-square')
results

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [27]:
pvalue = results.iloc[1:2,1:2]
pvalue

   results
1   0.1573

In [30]:
pvalue = 0.1573
if pvalue < 0.05:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

In [ ]:
#Conclusion: There is no dependency between the gender based buyer ratios across regions.