In [ ]:
""" We are using Annova becase we are compaing avg. of four diff. laboritries. 
Ho (Null Hypothesis) : U1 = U2 = U3 =U4
H1 (Alternate Hypothesis) : U1 != U2 != U3 != U4  (!= NOT EQUAL TO)
"""

In [25]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [26]:
df=pd.read_csv(r"C:\Users\k19ra\Downloads\LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [33]:
fvalue, pvalue = stats.f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])
print('F_value is =',fvalue.round(3))
print('P_value is',pvalue.round(3))

F_value is = 118.704
P_value is 0.0

In [34]:
alpha = 0.05
if pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

Ho is rejected and H1 is accepted

In [ ]:
#Conclusion: We reject Null Hypothesis, there is a significance difference between TAT of reports of the laboratories